@import url('./utils/navbar.css');

@font-face {
    font-family: 'Museosans';
    src: url('../Assets/font/museosans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color: #0000007e;
}

@font-face {
    font-family: 'Varela';
    src: url('../Assets/font/VarelaRound.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Museosans', sans-serif;
    font-optical-sizing: auto;
    /*plus lisible avec les petites tailles*/
    font-style: normal;
    color: white;
    transform-style: flat;
    image-rendering: crisp-edges;
    /* plus net */
    shape-rendering: crispEdges;
    text-shadow: 0.25vh 0.25vh 0.5vh rgba(0, 0, 0, 0.5);
}