#Loading {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: var(--black-05);
    backdrop-filter: blur(8px);
    top: 0;
    left: 0;
    z-index: 99999999999;
    user-select: none;
}

#BluredBG {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: var(--black-03);
    backdrop-filter: blur(8px);
    top: 0;
    left: 0;
    opacity: 100%;
    z-index: 99999999999;
    user-select: none;
    transition: opacity 500ms ease-in-out;
}

#dancingDuck {
    margin-top: 25vh;
    height: 18vh;
    width: 100%;
    background-image: url("../resources/duck.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#Loading h1 {
    margin-top: 5vh;
    width: 100%;
    text-align: center;
    font-size: 5vh;
}

#Loading h2,
#Loading h3 {
    margin-top: 4vh;
    font-size: 3vh;
    width: 100%;
    text-align: center;
}

#Loading h4 {
    margin-top: 3vh;
    font-size: 2.5vh;
    width: 100%;
    text-align: center;
    color: var(--white);
}

#StartLoadingbar {
    background-color: var(--black);
    border: 1px solid var(--gray);
    border-radius: 0.6vh;
    width: 80%;
    margin-left: 10%;
    margin-top: 3vh;
    height: 2vh;
}

#StartLoadingbarProgress {
    background-color: var(--accent);
    box-shadow: 0px 0px 6vh var(--accent-shadow);
    height: 2vh;
    width: 0%;
}

#progress {
    height: 6px;
    background-color: var(--black-soft);
    margin: 3vh auto;
    width: 70%;
    border-left: 0px solid var(--accent);
    border-radius: 0.3vh;
}

#theProgress {
    border-radius: 4px;
    height: 6px;
    background-color: var(--accent);
    margin-left: 0px;
    width: 0%;
    border-left: 0px solid var(--accent);
    transition: width 500ms ease-in-out;
}