min:root {
    --buttonOpacity: 50%;
    --nsd8sguhudfgdfg: 1.5;
    --titleHight: calc(2.4vw + 5px + 3%);
    --NavBarCal: calc(95vh - (7vh + 2.4vw));
}

#navTitle {
    margin: 1vh 0px;
    height: calc(3.25vw + 20px);
    align-items: center;
    display: flex;
}

#alineContent {
    cursor: pointer;
    margin: 0px auto;
    /* transition: tranform 100ms ease-in-out; */
}

/* #alineContent:active{    transform: scale(0.95);    transition: tranform 10ms ease-in-out;} */
header {
    /* background-color: rgb(26, 26, 26); */
    background-color: #0C0C0C;
    height: calc(100vh);
    position: relative;
    border-right: 1px solid #525252;
    color: #6243e06b;
    user-select: none;
}

header h1 {
    width: 200%;
    margin-left: -50%;
    margin-top: -4px;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(9, 7, 7, 0.356);
}

header h1 span {
    font-family: 'Varela', sans-serif;
    margin: 0px -5px;
    font-size: 2.25vw;
    font-weight: 600;
    text-shadow: 0px 0px 6vh rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    color: #fff;
    animation: waviy 6s infinite;
    animation-delay: calc(.075s * var(--i));
}

@keyframes waviy {

    0%,
    8%,
    100% {
        transform: translateY(0);
        color: white;
        text-shadow: 0px 0px 1.2vw rgba(255, 255, 255, 0.75);
        text-decoration: none;
    }

    4% {
        transform: translateY(-2vh);
        color: rgb(118, 97, 255);
        text-shadow: 0px 0px 2vw #6f00ff57;
        text-decoration: underline;
    }
}

/*#nav_Splitline1{    height: 0.45vw;    width: 110%;    margin-left: -5%;    border-radius: 0.25vh;    background-color: rgb(118, 97, 255);    box-shadow: 0px 0px 15px #6f00ff57;}*/
header img {
    margin: 3px 0px;
    width: 17px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(98vh - (3.25vw + 20px));
    margin-top: -5px;
}

header nav ul {
    width: 100%;
    margin-top: -1.35vh;
    height: calc(94vh - (3.25vw + 4px) - 4vw);
    /* background-color: red; */
    /* overflow-y: hidden;    overflow-x: visible; */
    z-index: 1;
}

header nav ul li {
    list-style: none;
    width: 100%;
    height: 18%;
    margin-top: calc((94vh -3.25vw + 4px - 4vw) * 0.015);
    margin-bottom: calc((94vh -3.25vw + 4px - 4vw) * 0.015);
    text-align: center;
    opacity: 100%;
    color: transparent;
    transform: scale(1);
    cursor: pointer;
    transition: opacity 125ms;
    z-index: 1;
}

header nav ul li::before {
    list-style: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

header nav ul li::before:hover {
    opacity: 80%;
    transition: opacity 25ms;
}

.CurveICONActive,
.MainICONActive,
.EffectICONActive,
.SettingsICONActive,
.static_CurveICONActive,
.static_MainICONActive,
.static_EffectICONActive,
.static_SettingsICONActive {
    outline: 2px solid rgba(255, 255, 255, 0.15);
    outline-offset: -1px;
}

/* ANIMATED ICONS */
/*     ICON PREDEF     Non active*/
.CurveICON,
.MainICON,
.EffectICON,
.SettingsICON {
    position: relative;
    padding: 2vh 0px;
    padding-right: 1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.CurveICON::before,
.MainICON::before,
.EffectICON::before,
.SettingsICON::before {
    content: '';
    position: absolute;
    top: 2vh;
    right: 1px;
    left: 0px;
    bottom: 2vh;
    opacity: 100%;
}

.CurveICON:hover:before,
.MainICON:hover:before,
.EffectICON:hover:before,
.SettingsICON:hover:before {
    opacity: var(--buttonOpacity);
}

/*     ICON PREDEF     Active*/
.CurveICONActive,
.MainICONActive,
.EffectICONActive,
.SettingsICONActive,
.static_CurveICONActive,
.static_MainICONActive,
.static_EffectICONActive,
.static_SettingsICONActive {
    position: relative;
    /*background-color: #131313;*/
    background-position: 100vw 100vw;
    background-image: url("./../../Assets/img/bgpattern.png");
    background-size: 30px;
    padding: 2vh 0px;
    padding-right: 1px;
    border-top: 1px solid #525252;
    border-bottom: 1px solid #525252;
}


.CurveICONActive::before,
.MainICONActive::before,
.EffectICONActive::before,
.SettingsICONActive::before {
    content: '';
    position: absolute;
    top: 2vh;
    right: 1px;
    left: 0px;
    bottom: 2vh;
}

/* Set Icon */
.CurveICON::before {
    background-image: url("./../../Assets/img/curves.gif");
    filter: saturate(0%) brightness(var(--nsd8sguhudfgdfg));
}

.CurveICONActive::before {
    background-image: url("./../../Assets/img/curves.gif");
    opacity: 100%;
}

.MainICON::before {
    background-image: url("./../../Assets/img/main.gif");
    filter: saturate(0%) brightness(var(--nsd8sguhudfgdfg));
}

.MainICONActive::before {
    background-image: url("./../../Assets/img/main.gif");
    opacity: 100%;
}

.EffectICON::before {
    background-image: url("./../../Assets/img/effects.gif");
    filter: saturate(0%) brightness(var(--nsd8sguhudfgdfg));
}

.EffectICONActive::before {
    background-image: url("./../../Assets/img/effects.gif");
    opacity: 100%;
}

.SettingsICON::before {
    background-image: url("./../../Assets/img/settings.gif");
    filter: saturate(0%) brightness(var(--nsd8sguhudfgdfg));
}

.SettingsICONActive::before {
    background-image: url("./../../Assets/img/settings.gif");
    opacity: 100%;
}

/* STATIC ICONS */
/*     ICON PREDEF     Non active*/
.static_CurveICON,
.static_MainICON,
.static_EffectICON,
.static_SettingsICON {
    position: relative;
    padding: 2vh 0px;
    padding-right: 1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.static_CurveICON::before,
.static_MainICON::before,
.static_EffectICON::before,
.static_SettingsICON::before {
    content: '';
    position: absolute;
    top: 2vh;
    right: 1px;
    left: 0px;
    bottom: 2vh;
    opacity: 100%;
}

.static_CurveICON:hover:before,
.static_MainICON:hover:before,
.static_EffectICON:hover:before,
.static_SettingsICON:hover:before {
    opacity: var(--buttonOpacity);
}

/*     ICON PREDEF     Active*/
.static_CurveICONActive::before,
.static_MainICONActive::before,
.static_EffectICONActive::before,
.static_SettingsICONActive::before {
    content: '';
    position: absolute;
    top: 2vh;
    right: 1px;
    left: 0px;
    bottom: 2vh;
}

/* Set Icon */
.static_CurveICON::before {
    background-image: url("./../../Assets/img/curves.png");
    filter: saturate(0%) brightness(var(--nsd8sguhudfgdfg));
}

.static_CurveICONActive::before {
    background-image: url("./../../Assets/img/curves.png");
    opacity: 100%;
}

.static_MainICON::before {
    background-image: url("./../../Assets/img/main.png");
    filter: saturate(0%) brightness(var(--nsd8sguhudfgdfg));
}

.static_MainICONActive::before {
    background-image: url("./../../Assets/img/main.png");
    opacity: 100%;
}

.static_EffectICON::before {
    background-image: url("./../../Assets/img/effects.png");
    filter: saturate(0%) brightness(var(--nsd8sguhudfgdfg));
}

.static_EffectICONActive::before {
    background-image: url("./../../Assets/img/effects.png");
    opacity: 100%;
}

.static_SettingsICON::before {
    background-image: url("./../../Assets/img/settings.png");
    filter: saturate(0%) brightness(var(--nsd8sguhudfgdfg));
}

.static_SettingsICONActive::before {
    background-image: url("./../../Assets/img/settings.png");
    opacity: 100%;
}

/* End of the icons */
#navFooter {
    height: 5vw;
    position: fixed;
    top: calc(100vh - 3.5vw);
    width: calc(15vw - 1px);
    align-items: center;
}

#navFooter p {
    margin-top: 0px;
    width: calc(15vw - 1px);
    text-align: left;
    font-size: 2vw;
    opacity: 100%;
    margin-left: 4.75vw;
}

#NoteButton {
    position: absolute;
    background-image: url("./../../Assets/img/note.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: calc(100vh - 3.75vw);
    left: 1.625vw;
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
}

#NoteButton:hover {
    opacity: 70%;
}

.eff_active {
    background-color: #191919;
    border-bottom: 0.5vh solid #6843ff;
}

.eff_active:hover {
    border-bottom: 0.5vh solid #a58fff;
    background-color: #6843ff;
}

.not_eff_active {
    border-bottom: 0.5vh solid #00000000;
    background-color: #191919;
}

.not_eff_active:hover {
    border-bottom: 0.5vh solid #a58fff;
    background-color: #6843ff;
}