:root {
    --buttonOpacity: 50%;
    --nsd8sguhudfgdfg: 1.5;
    --titleHight: calc(2.4vw + 5px + 3%);
    --NavBarCal: calc(95vh - (7vh + 2.4vw));
}

#navTitle {
    margin: 1vh 0px;
    height: calc(3.25vw + 20px);
    align-items: center;
    display: flex;
}

#alineContent {
    cursor: pointer;
    margin: 0px auto;
}

header {
    background-color: #0C0C0C;
    height: calc(100vh);
    position: relative;
    border-right: 1px solid #525252;
    color: var(--accent-shadow);
    user-select: none;
}

header h1 {
    width: 200%;
    margin-left: -50%;
    margin-top: -4px;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(9, 7, 7, 0.356);
}

header h1 span {
    font-family: 'Varela', sans-serif;
    margin: 0px -5px;
    font-size: 2.25vw;
    font-weight: 600;
    text-shadow: 0px 0px 6vh rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    color: #fff;
    animation: waviy 6s infinite;
    animation-delay: calc(.075s * var(--i));
}

@keyframes waviy {

    0%,
    8%,
    100% {
        transform: translateY(0);
        color: white;
        text-shadow: 0px 0px 1.2vw rgba(255, 255, 255, 0.75);
        text-decoration: none;
    }

    4% {
        transform: translateY(-2vh);
        color: var(--accent);
        text-shadow: 0px 0px 2vw var(--accent-shadow);
        text-decoration: underline;
    }
}

header img {
    margin: 3px 0px;
    width: 17px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(98vh - (3.25vw + 20px));
    margin-top: -5px;
}

header nav ul {
    width: 100%;
    margin-top: -1.35vh;
    height: calc(94vh - (3.25vw + 4px) - 8vw);
    z-index: 1;
}

header nav ul li {
    list-style: none;
    width: 100%;
    height: 10%;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    text-align: center;
    opacity: 100%;
    color: rgba(255, 255, 255, 0.75);
    transform: scale(1);
    cursor: pointer;
    transition: opacity 125ms, color 125ms;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.65vw;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    padding: 1.5vh 0px;
    padding-right: 1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    position: relative;
}

header nav ul li:hover {
    color: #FFFFFF;
    transition: opacity 25ms, color 125ms;
}

.CurveActive,
.ScriptActive,
.ShortcutActive,
.EffectActive,
.ShakesActive,
.SoundActive,
.SettingsActive {
    outline: 2px solid rgba(255, 255, 255, 0.25);
    outline-offset: -1px;
    background-position: 100vw 100vw;
    background-image: url("./../../Assets/img/bgpattern.png");
    background-size: 30px;
    border-top: 1px solid #525252 !important;
    border-bottom: 1px solid #525252 !important;
    color: var(--accent) !important;
    text-shadow: 0px 0px 1vw var(--accent-shadow);
    opacity: 100% !important;
}

.Curve,
.Script,
.Shortcut,
.Effect,
.Shakes,
.Sound,
.Settings {
    color: rgba(255, 255, 255, 0.75);
}

#navFooter {
    height: 5vw;
    position: fixed;
    top: calc(100vh - 3.5vw);
    width: calc(15vw - 1px);
    align-items: center;
}

#navFooter p {
    margin-top: 0px;
    width: calc(15vw - 1px);
    text-align: left;
    font-size: 2vw;
    opacity: 100%;
    margin-left: 4.75vw;
}

#NoteButton {
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    top: calc(100vh - 3.75vw);
    left: 1.625vw;
    cursor: pointer;

    background-color: var(--accent);
    -webkit-mask: url("./../../Assets/img/note.png") no-repeat center;
    -webkit-mask-size: contain;
    mask: url("./../../Assets/img/note.png") no-repeat center;
    mask-size: contain;
}

#NoteButton:hover {
    opacity: 70%;
}


.eff_active {
    background-color: rgba(28, 28, 28, 0.2);
    border-bottom: 0.5vh solid var(--accent-light);
}

.eff_active:hover {
    border-bottom: 0.5vh solid var(--accent-light);
    background-color: var(--accent);
}

.not_eff_active {
    border-bottom: 0.5vh solid #00000000;
    background-color: rgba(28, 28, 28, 0.2);
}

.not_eff_active:hover {
    border-bottom: 0.5vh solid var(--accent-light);
    background-color: var(--accent);
}